@model List<Tweakers.Models.Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cat8</title>
</head>
<body>
    <div>
        <ul class="categories">
            @foreach (var pc in Model)
            {
                if (pc.ParentCategory.ID == 8)
                {
                    <li>@Html.ActionLink(pc.Name, "Cat" + pc.ID, "Category")</li>
                }
            }
        </ul>
    </div>
</body>
</html>
